<!DOCTYPE html>
<html>
<!-- /* 在庫管理TOP画面   */ -->

<head>
    <meta charset="utf-8">
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
    </link>

    <title>在庫管理TOP画面</title>
</head>

<body>


    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <div class="container">
        <h1>在庫管理TOP</h1>
        <form action="#" th:action="@{/inventoryControl/select}" method="get">

            <input type="submit" value="在庫一覧" class="btn btn-success">

        </form>
        <form action="#" th:action="@{/inventoryControl/insert}" method="get">

            <input type="submit" value="追加" class="btn btn-info">
        </form>

        <form action="#" th:action="@{/inventoryControl/update}" method="get">

            <input type="submit" value="修正" class="btn btn-danger">
        </form>


        <form action="#" th:action="@{/inventoryControl/delete}"  method="get">

            <input type="submit" value="廃棄" class="btn btn-danger">
        </form>

        <form action="#" th:action="@{/afterLogin}" method="post">

            <input type="submit" value="TOPへ" class="btn btn-danger">
        </form>
    </div>
</body>

</html>