<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    </link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>login</title>
</head>
<!-- /*　メインTOP画面　*/ -->

<body>
    <h1>メインTOP</h1>
    <form action="#" th:action="@{/main/customerInformation}" th:object="${rentalForm}" method="post">

        <input type="submit" value="顧客管理" class="btn btn-success">

    </form>
    <form action="#" th:action="@{/main/rental}" method="post">
        <input type="submit" value="レンタルする" class="btn btn-primary">

    </form>
    <form action="#" th:action="@{/main/return}" method="post">

        <input type="submit" value="返却" class="btn btn-info">
    </form>

    <form action="#" th:action="@{/main/inventoryControl}" th:object="${deleteForm}" method="post">

        <input type="submit" value="在庫管理" class="btn btn-danger">
    </form>
</body>

</html>