<!DOCTYPE html>
<html>
<!-- /*新規登録画面     */ -->

<head>
    <meta charset="utf-8">

    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
    </link>

    <title>login</title>
</head>

<body>

    <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <div class="container">

        <h1>削除画面</h1>

        <form action="#" th:action="@{/customerInformation/delete}" th:object="${customerDeleteForm}" method="post">

            <table class="table table-hover table-bordered">

                <tr>
                    <th>選択</th>
                    <th>名前</th>
                    <th>電話番号</th>
                    <th>年齢</th>
                    <th>性別</th>
                    <th>住所</th>
                </tr>
                <tr th:each=" customermanagement : *{list}">
                    <td><input type="radio" th:value="${customermanagement.id}" name="id" class="btn-primary"></td>
                    <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</label></td>
                    <td th:text="${customermanagement.customerName}"></td>
                    <td th:text="${customermanagement.phoneNumber}"></td>
                    <td th:text="${customermanagement.age}"></td>
                    <td th:text="${customermanagement.gender}"></td>
                    <td th:text="${customermanagement.address}"></td>
                </tr>
            </table>

            <input type="submit" name="delete" th:value="削除する" class="btn btn-outline-danger "
                onclick="return confirm('削除します。よろしいですか？')">
        </form>
        <form action="#" th:action="@{/main/customerInformation}" method="post">

            <input type="submit" value="顧客管理TOPへ" class="btn btn-danger">
    </div>
</body>

</html>