<!DOCTYPE html>
<html>
<!-- /*新規登録画面     */ -->

<head>
    <meta charset="utf-8">

    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
    </link>

    <title>login</title>
</head>

<body>

    <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <div class="container">

        <h1>削除画面</h1>

        <form action="#" th:action="@{/inventoryControl/delete}" th:object="${inventoryDeleteForm}" method="post">

            <table class="table table-hover table-bordered">

                <tr>
                    <th>選択</th>
                    <th>タイトル</th>
                    <th>大ジャンル</th>
                    <th>小ジャンル</th>
                    <th>巻数</th>
                    <th>ステータス</th>
                </tr>
                <tr th:each=" inventorycontrol : *{inventoryList}">
                    <td><input type="radio" th:value="${inventorycontrol.id}" name="id" class="btn-primary"></td>
                    <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</label></td>
                    <td th:text="${inventorycontrol.titleName}"></td>
                    <td th:text="${inventorycontrol.bigGenre}"></td>
                    <td th:text="${inventorycontrol.smallGenre}"></td>
                    <td th:text="${inventorycontrol.turns}"></td>
                    <td th:text="${inventorycontrol.status}"></td>
                </tr>
            </table>

            <input type="submit" name="delete" th:value="削除する" class="btn btn-outline-danger "
                onclick="return confirm('削除します。よろしいですか？')">
        </form>

        <form action="#" th:action="@{/main/inventoryControl}" method="post">

            <input type="submit" value="在庫管理TOPへ戻る" class="btn btn-danger">
        </form>
    </div>
</body>

</html>