<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rental2.mapper.inventory.BiggenreMapper">


    <!-- /*この中にSQLを書く
条件を各タグの中に書いて処理する
サービスの条件は少なくてOK */-->

    <select id="selectAll" resultType="com.example.rental2.entity.inventory.BigGenreEntity">select biggenreid , biggenre from biggenre</select>


</mapper> 